<div class="update-container">
  <h2>Edit boat</h2>

  <form [formGroup]="boatForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name of the boat</label>
      <input id="name" type="text" formControlName="name" />
      <div class="error" *ngIf="boatForm.get('name')?.invalid && boatForm.get('name')?.touched">
        Name is required and must be between 3 und 30 characters long.
      </div>
    </div>

    <div class="form-group">
      <label for="details">Details</label>
      <textarea id="details" rows="4" formControlName="details"></textarea>
      <div class="error" *ngIf="boatForm.get('details')?.invalid && boatForm.get('details')?.touched">
        Details must not be longer than 100 characters.
      </div>
    </div>

    <button type="submit" [disabled]="boatForm.invalid">Save</button>
  </form>
</div>
