BoatManager/.vs/BoatManager/v17/DocumentLayout.json
BoatManager/.vs/BoatManager/v17/DocumentLayout.backup.json
BoatManager/.vs/BoatManager/v17/.suo
BoatManager/.vs/BoatManager/FileContentIndex/e616f7f0-6176-4b14-b0af-95506de4315d.vsidx
BoatManager/.vs/BoatManager/FileContentIndex/65c58e6c-c513-4a6c-8264-a1d1e11e334f.vsidx
